* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
   --bg-color:rgb(4, 4, 97);
   --text-color: white;
    --span-color: rgb(219, 191, 33);
}

body{
    background: var(--bg-color) !important;
    color: var(--text-color) !important;
}
section {  
    padding: 1.5rem;  
    margin: 10px;  
    text-align: center; 
}  
.title {  
    font-weight: 700;  
    font-size: 50px;  
    margin: 20px 0; 
}  

.home {  
    display: flex;  
    flex-direction: column;  
    align-items: center; 
}  

h1 span {  
    color: var(--span-color);
}  
img {  
    height: 400px;  
    margin-bottom: 20px; 
}
.btn{
    padding: 1rem;
    margin: 40px 15px;
    border-radius: 20px !important;
    background-color: var(--span-color) !important;
    text-transform: uppercase;
}
.btn:hover{
    background-color: rgb(155, 133, 7) !important;
    color: var(--text-color);
    transition: 0.6s ease-in-out;
}

.main{
    padding: 2rem;
    margin: 5px;
}
.search-location i {
    position: absolute;
    left: 490px;
    top: 180px;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--span-color);
   z-index: 1;
}
#city-input {  
        padding: 15px 20px 10px 45px;
        border-radius:2rem;
        margin-top: 1.5rem;
        position: relative;
        width: 350px !important;
       
}  
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}



/*-----------------------------------main---------------------------------------*/

.back-card {
    border-radius: 40px;
    margin-top: 50px;
    display: none;
  }
  
  .city-name {
    position: absolute;
    width: 100%;
  }
  
  .city-name p {
    font-size: 16pt;
    font-weight: 400;
  }
  
  .city-name span {
    font-weight: 400;
    font-size: 36pt;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: -60px;
  }
  
  .temp span {
    font-weight: 100;
    font-size: 5em;
    letter-spacing: -5px;
    white-space: nowrap;
  }
  .card-mid {
    line-height: 0.5;
  }
  
  .condition {
    line-height: 1em;
    font-weight: 700;
    font-size: 1em;
    text-transform: capitalize;
  }
  .high::before {
    content: '';
    background: url('img/up.svg') no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
  }
  
  .low::before {
    content: '';
    background: url('img/down.svg') no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 3px;
  }
  .icon-container {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: #202020;
  }
  .icon-container img {
    margin: auto;
  }
  
  .card-bottom {
    line-height: 0.5;
  }
  .card-bottom span {
    font-size: 12px;
  }
  .card-bottom p {
    font-size: 50px;
    font-weight: 100;
    letter-spacing: -2px;
  }
  





@media (max-width: 768px) {
     
     section{
      padding: 1rem;
      margin: 2px;
      overflow: hidden;
     }

     img {  
      height: 250px;  
      margin-bottom: 10px; 
  }
  .input-group {  
    margin-left: 150px !important;
    padding: 10px 15px 10px 25px;
    width: 350px !important;
    
  }
.search-location i {
  position: absolute;
  left: 14.4rem;
  top: 180px;
  font-size: 20px;
  transform: translate(-50%);
  }
 
}

@media (max-width: 500px) {
  .input-group {  
    margin-left: -9px !important;
    padding: 10px 15px 10px 25px;
    width: 150px !important;
    
  }
  .btn{
    width: 150px !important;
  }
  .search-location i {
    position: absolute;
    left: 5rem;
    top: 180px;
    font-size: 20px;
    transform: translate(-50%);
    }

    
@media (max-width: 400px) {
  .input-group {  
    margin-left: -9px !important;
    padding: 10px 15px 10px 25px;
    width: 200px !important;
    overflow: hidden;
  }
  .btn{
    width: 150px !important;
  }
  .search-location i {
    position: absolute;
    left: 4.6rem;
    top: 238px;
    font-size: 20px;
    transform: translate(-50%);
    }
}